[submodule "willow2-mod-manager"]
	path = willow2-mod-manager
	url = git@github.com:apple1417/willow2-mod-manager.git
[submodule ".willow2-mod-manager"]
	path = .willow2-mod-manager
	url = git@github.com:apple1417/willow2-mod-manager.git
