__pycache__
.env
.mypy_cache
.vscode

*/LICENSE

CrowdControl/config.json
CrowdControl/token.txt
CrowdControl/listener.log

SanitySaver/Saves

SideMissionRandomizer/seeds.json
SideMissionRandomizer/*.txt

TextModLoader/mod_info.json
